@import "tailwindcss";

@layer utilities {
    .container {
        padding-inline: 10px;
        margin-inline: auto;

        @variant sm {
            padding-inline: 15px;
        }

        @variant md {
            padding-inline: 20px;
        }

        @variant xl {
            padding-inline: 30px;
        }

        @variant 2xl {
            padding-inline: 40px;
        }
    }
}

@config './../tailwind.config.mjs';

:root {
    --main-color: #6343D8;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: HeptaSlab, sans-serif;
}